<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MADCreate.Api.dll" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="Cors__Origins" value="https://madcreate.madprospects.com" />
          <environmentVariable name="DefaultUser__Email" value="admin@madprospects.com" />
          <environmentVariable name="DefaultUser__Password" value="P@szw0rdMP" />
          <environmentVariable name="ConnectionStrings__Default" value="Server=WINSVRSQL03.hostserv.co.za,1433;Database=madcreate;User Id=madprospects;Password=P@szw0rd;TrustServerCertificate=True;" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>